body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
}

.box {
    background-color: orange;
    padding: 26px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h4 {
    padding: 0;
    margin: 0 0 16px 0;
    color: white;
    font-size: 22px;
}

.box .form {
    display: flex;
    height: 4vh;
}

.box .form .form-input {
    border: none;
    border-radius: 8px 0 0 8px;
    padding-left: 16px;
    font-size: 16px;
    width: 30vw;
}

.box .form .form-btn {
    border: none;
    border-radius: 0 8px 8px 0;
    width: 10vw;
    color: blueviolet;
    font-size: 16px;
    font-weight: bold;
}

.box .form .form-btn:active {
    color: orange;
    background-color: gray;
}

.box .todo-list {
    display: flex;
    width: 100%;
    height: 50vh;
    margin: 20px auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.box .todo-list ul {
    margin: 0;
    padding: 0;
    padding-right: 10px;
    list-style: none;
    width: 100%;
}

.todo-list ul li {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
}

.todo-list ul li .remove-item {
    background-color: red;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 16px;
    border: none;
}

.box .footer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.box .footer .btn-clear {
    display: flex;
    background-color: white;
    border: 1px solid white;
    padding: 10px 16px;
    color: orange;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.box .footer .btn-clear:active {
    color: white;
    background-color: orange;
    border: 1px solid white;
}