body {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: fit-content;
  height: fit-content;
  background-color: orange;
  padding: 26px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h4 {
  padding: 0;
  margin: 0 0 16px 0;
  color: white;
  font-size: 22px;
}

.form {
  display: flex;
  height: 4vh;
}

.form-input {
  border: none;
  border-radius: 8px 0 0 8px;
  padding-left: 16px;
  font-size: 16px;
  width: 30vw;
}

.form-btn {
  border: none;
  border-radius: 0px 8px 8px 0;
  width: 10vw;
  color: blueviolet;
  font-weight: bold;
  font-size: 16px;
}

.form-btn:active {
  color: orange;
  background-color: gray;
}

.todo-list {
  display: flex;
  width: 100%;
  max-height: 50vh;
  margin: 20px auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.todo-list ul li {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 16px 0;
  border: 1px solid white;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
}

.todo-list .remove-item {
  background-color: red;
  padding: 6px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 16px;
  border: none;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-clear {
  display: flex;
  background-color: white;
  border: 1px solid white;
  padding: 10px 16px;
  border-radius: 6px;
  color: orange;
  font-size: 18px;
}

.btn-clear:active {
  color: white;
  background-color: orange;
  border: 1px solid white;
}
